.TelaPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-color: #fff;
}
.TelaPrincipal h1, h4, h5 {
  color: #1C1C1C;
}

.TextoBoasVindas {
  margin-bottom: 20px;
}

.Inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.Inputs input, label, button {
  background-color: #deddc8;
  color: #2A2A2A;
  margin-bottom: 10px;
  text-decoration: none;
}

.Inputs button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #deddc8;
  border: none;
  cursor: pointer;
}

.Inputs img {
  height: 25px;
}

.imagensViagens, .imagensEstados {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.imagensViagens img {
  width: 214px; 
  height: 310px;  
}

.imagensEstados img {
  width: 405px; 
  height: 295px;  
}

.TravelType h5, .StateAvailability h5 {
  margin: 10px 0 0 0; 
  opacity: 0.9;
  font-size: 16px; 
}
