.TelaCadastrar {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background-color: #D0D0D0;

}

.panelContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.leftPanel, .rightPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 200px;
    box-sizing: border-box;
}
.rightPanel{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    max-height: 90vh;
    width: 100%;
    padding: 0 200px;
    box-sizing: border-box;
}
.leftPanel {
    background-color: #C0C0C0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.socialButton {
    align-items: center;
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    background-color: #F5F5F5;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: 0.5s;
}

.socialButton img {
    margin-right: 10px;
    width: 42px;
    height: 42px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.register {
    margin-top: 20px;
    text-align: center;
    font-size: 1em;
}

.register a, p{
    color: #000;
}
.register a:hover{
    font-weight: bold;
}


.cadastrarBox {
    background-color: #F5F5F5;
    margin-top: 80px;
    height: 80vh;
    width: 80%;
    max-height: 100vh;
    padding: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cadastrarBox input{
    color: #000;
}

.cadastrarBox h2 {
    color: #000;
    margin-bottom: 20px;
    font-size: 1.5em;
}

.inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 5vh;
}

.inputGroup img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
}

.inputGroup input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 1em;
}   

.eyeButton {
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
}

.eyeButton img {
    float: left;
    width: 25px; 
    height: auto;
}

.cadastrarButton {
    width: 100%; 
    padding: 10px; 
    background-color: #000; 
    color: #C0C0C0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold; 
    font-size: 1.2em;
    transition: opacity 0.5s; 
  }
  
  .cadastrarButton:hover {
    opacity: 0.8; 
  }
