.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 75vw;
    margin: 0;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.imgContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.detail {
    font-size: 16px;
    margin-bottom: 10px;
    color: #555;
    flex: 1 1 45%; /* Cada detalhe ocupa aproximadamente 45% do contêiner */
    margin-right: 5%; /* Espaçamento entre os detalhes */
}

.detail:nth-child(2n) {
    margin-right: 0; /* Remove o espaçamento direito para cada segundo item na linha */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
.confirmation {
    margin-top: 20px;
    font-size: 16px;
    color: green;
  }