.containerAllContact {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(135deg, #f3f3f3, #e2e2e2);
    align-items: center;
    box-sizing: border-box;
}

.containerAllContact h1, h2 {
    font-size: 36px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.labels {
    font-weight: bold;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: #555;
    width: 100%;
    text-align: left;
}
.inputsDiv input{
    width: 60vw;
    gap: 20px;
}
.inputsDiv,
textarea {
    gap: 20px;
    width: 70vw;
    padding: 15px;
    margin: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s, border-color 0.3s;
    font-family: 'Roboto', sans-serif;
}

.inputsDiv:focus,
textarea:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: #007bff;
    outline: none;
}

textarea {
    width: 50vw;
    height: 150px;
    resize: vertical;
}

.btnCont {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
}

.btnCont:hover {
    background: linear-gradient(135deg, #0056b3, #003d80);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}
