.TelaReserva {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #f4f4f4; 
    width: 100%;
    flex-wrap: wrap;
}

.mainContent {
    display: flex;

}
span{
    color: black;
}

.leftPane {
    gap: 30px;
    display: block;
    width: 20%;
    border-top: 10px solid #f0f0f0;
    background-color: #f0f0f0;
}

.rightPane {
    gap: 30px;
    width: 100%;
    padding: 20px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px; 
}

.label {
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

.inputField, .selectField {
    margin-bottom: 20px; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem; 
}

.clearButton {
    padding: 10px;
    background-color: #ff6961;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 1rem; 
}

.clearButton:hover {
    background-color: #d1483e;
}

.resultsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.newSearchButton {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 1rem;
}

.resultsContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px; 
    width: 80%;
    background-color: #e0e0e0;
    border-radius: 10px; 
}

.resultItem {
    width: 80%;
    margin: 5px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px; 
}
